body {
    background-color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#logIn {
    height: 90vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

#logIn .container {
    width: 300px;
    padding: 4rem 0;
    border: 3px solid rgba(8, 220, 128, 0.389);
    border-bottom: 0;
    border-top: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
}

#logIn .container .logo h1 {
    padding: 1rem 0 0.5rem 0;
}

#logIn .container .logo h1 i {
    padding: 0.82rem 1rem;
    border-radius: 50%;
    background-color: rgb(8, 220, 128);
    color: #fff;
}

#logIn .container .defination h2 {
    font-size: 30px;
    padding: 0 0 1rem 0;
    color: #1f1f1f;
    opacity: 0.8;
}

#logIn .container form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

#logIn .container form input,
#logIn .container form button {
    width: 250px;
    margin: 5px 0;
    padding: 0.5rem 0;
}

#logIn .container form button {
    background-color: rgb(8, 220, 128);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #1f1f1f;
    opacity: 0.9;
    border: 5px solid rgb(8, 220, 128);
    cursor: pointer;
}

#logIn .container form button:hover {
    background-color: rgb(9, 173, 102);
    border: 5px solid rgb(9, 173, 102);
}

#logIn .container form input {
    border: 2px solid #1f1f1f4d;
}

#logIn .container form input:focus {
    outline: 2px solid rgb(8, 220, 128);
    border: 0;
}

#logIn .container form input::placeholder {
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.8;
}
#logIn .container form .pass{
    position: relative;
}
#logIn .container form i{
    position: absolute;
    top: 35%;
    right: 5px;
    color:rgb(8, 220, 128);
    opacity: 0.6;
    cursor: pointer;
}
/*end container*/
#logIn .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    width: 100%;
    padding: 1rem 0 0 0;
}

#logIn .options label {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logIn .options label input[type="checkbox"] {
    accent-color: rgb(8, 220, 128) !important;
}

#logIn .options span a {
    color: #1f1f1f;
    text-decoration: unset;
}

#logIn .options span a:hover {
    color: rgb(9, 173, 102);
}